.price-display {
  background-color: rgba(51, 51, 51, 0.9); /* Полупрозрачный темный фон */
  color: white; /* Белый текст */
  font-size: 2vw; /* Размер текста относительно ширины экрана */
  padding: 10px 20px; /* Внутренние отступы */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для блока */
  display: inline-flex; /* Для горизонтального выравнивания */
  align-items: center;
  justify-content: center;
  position: fixed; /* Фиксированное позиционирование */
  top: 130px; /* Расстояние от верхнего края окна */
  left: -100%; /* Изначально блок полностью за пределами экрана */
  z-index: 1000; /* Убедитесь, что элемент поверх остальных */
  width: auto; /* Ширина автоматически подстраивается под содержимое */
  max-width: 30%; /* Максимальная ширина таблички */
  opacity: 0.9; /* Прозрачность элемента */
  transition: transform 0.5s ease-out, left 0.2s ease-out; /* Анимация появления и исчезновения */
}

.price-display.show {
  left: 10px; /* Положение блока на экране */
}

.price-display::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: magenta; /* Цвет полосы */
  border-radius: 10px 0 0 10px; /* Закругление только левых углов */
}


/* Медиазапросы для адаптации под разные экраны */

/* Для экранов шириной 1200px и менее */
@media (max-width: 1200px) {
  .price-display {
    font-size: 2.5vw; /* Увеличиваем размер шрифта для меньших экранов */
    max-width: 40%; /* Увеличиваем максимальную ширину для меньших экранов */
  }
}

/* Для экранов шириной 768px и менее */
@media (max-width: 768px) {
  .price-display {
    font-size: 3vw; /* Увеличиваем размер шрифта для еще меньших экранов */
    max-width: 50%; /* Увеличиваем максимальную ширину для еще меньших экранов */
  }
}

/* Для экранов шириной 576px и менее */
@media (max-width: 576px) {
  .price-display {
    font-size: 4vw; /* Увеличиваем размер шрифта для маленьких экранов */
    max-width: 70%; /* Увеличиваем максимальную ширину для маленьких экранов */
  }
}

/* Для экранов шириной 480px и менее */
@media (max-width: 480px) {
  .price-display {
    font-size: 5vw; /* Увеличиваем размер шрифта для очень маленьких экранов */
    max-width: 90%; /* Почти на всю ширину для очень маленьких экранов */
  }
}