.booking-button {
  border-radius: 24px;
  width: 256px;
  height: 151px;
  background: #00ac11;
  transition: all 0.4s ease;
  border: 2px solid transparent;
  color: white;
  font-size: 19px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.booking-button .player-input {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  background-color: black;
  color: white;
}

.booking-button.disabled .player-input {
  background-color: #1b1a1a;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

.booking-button.selected {
  background-color: #a707dc;
}

.booking-button:not(.disabled):hover {
  color: #a707dc;
  border-color: #a707dc;
}

.booking-button.selected:hover {
  color: white;
}

.booking-button .line {
  border-bottom: 3px solid #fff;
  width: 100%;
  margin: 5px 0;
}

.booking-button:not(.disabled):hover .line {
  border-bottom: 3px solid #a707dc;
}

.booking-button.selected:hover .line {
  border-bottom: 3px solid #fff;
}

.booking-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #1b1a1a;
}
.links {
  flex: 1; /* Занимает равную ширину */
  margin: 64px; /* Отступ между ссылками */
  padding: 24px; /* Отступ внутри ссылки */
  text-decoration: none; /* Убираем подчеркивание */
  color: white; /* Цвет текста */
  border-radius: 32px;
  height: auto; /* Позволяем высоте изменяться */
  display: flex;
  flex-direction: column; /* Вертикальное выравнивание содержимого */
  align-items: center; /* Центрирование содержимого по горизонтали */
  text-align: center; /* Центрирование текста */
  overflow: hidden; /* Скрыть переполнение */
}

.links:hover {
  background-color: #45a049; /* Цвет при наведении */
}

.divider {
  height: 3px; /* Высота полосы */
  background-color: #fff; /* Цвет полосы */
  margin: 10px 0; /* Отступ сверху и снизу для полосы */
  width: 100%; /* Полоса на всю ширину ссылки */
}

.description {
  margin-top: 10px; /* Отступ сверху для описания */
  font-size: 20px; /* Устанавливаем размер шрифта в vw */
  color: #f0f0f0; /* Цвет текста описания */
  text-align: left; /* Выровнять описание по левому краю */
  width: 100%; /* Ширина описания на всю ширину ссылки */
  padding-left: 10px; /* Отступ слева для описания */
}

  .submit-button {
    padding: 8px 30px;
    background: #a707dc;
    border-radius: 16px;
    font-family: var(--font-family);  
    font-weight: 400;
    font-size: calc(1rem + 0.5vw);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 576px;
    box-shadow: 0 0 20px #a707dc, 0 0 40px #a707dc, 0 0 60px #a707dc;
    transition: box-shadow 0.3s;
  }
  
  .submit-button:hover {
    box-shadow: 0 0 40px #a707dc, 0 0 80px #a707dc, 0 0 120px #a707dc;
  }
  
  